@page "/"

<PageTitle>Index</PageTitle>

<<<<<<< HEAD
<h1>Hello, Guy!</h1>
=======
<h1>Hello, world!</h1>
>>>>>>> 12f09a12e8e5735e6f792c97f99f88a7016ee91c

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
