@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Guy! Hello, world!</h1>

<!-- Three rectangles next to each other -->
<div style="width: 150px; height: 180px; background-color: @rectangleColor1; float: left;"></div>
<div style="width: 150px; height:180px; background-color: @rectangleColor2; float: left;"></div>
<div style="width: 150px; height: 180px; background-color: @rectangleColor3; float: left;"></div>

<!-- Button to change the colors -->
<button @onclick="FrenchFlag">French Flag</button>
<button @onclick="ItalianFlag">Italian Flag</button>

@code {
    // Initialize the rectangle colors
    private string rectangleColor1 = "blue";
    private string rectangleColor2 = "blue";
    private string rectangleColor3 = "blue";

    // Event handler for changing the colors
    private void FrenchFlag()
    {
        rectangleColor1 = "blue";
        rectangleColor2 = "white";
        rectangleColor3 = "red";
    }

    private void ItalianFlag()
    {
        rectangleColor1 = "green";
        rectangleColor2 = "white";
        rectangleColor3 = "red";
    }
}
